# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build Folders
bin
obj
*.suo
*.user
*.Debug
Engine/Debug/*.*
Engine/Release/*.*
Editor/Debug/*.*
Editor/Release/*.*
Debug/*.*

# mstest test results
TestResults
/Debug
/Engine/Debug
/*.opensdf
/*.sdf
/Editor/Content
